html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

body, header, #score {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

body {
    width:100vw;
    background-color: #ffcb4c;
    /* position: relative; */

}

main {
    background-color: white;
    padding:10px;
    /* position: absolute;
    top: 10vh; */
}

#game-over {
    position: absolute;
    bottom:45vh;
    background-color: white;
    padding: 5%;
}

#instruction-page {
    background-color: white;
    width:100%;
    /* position:absolute;
    top: 70vh */
}
#help {
    padding:10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 6px 10px;
    margin: 5px;
}

header {
    position: inherit;
}
.set-example {
    height: 10em;
    border:1px solid grey
}

.btn {
    background-color: #ff1717;
    border: 1px solid black
}
#score {
    /* height: 10% */
    background-color: #d9d9d9;
    display: flex;
    flex-wrap: nowrap;
}
#id-score > div{
    border: 1px solid black;
}

#set-board {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    /* height:50vh; */
}

#set-board-1, #set-board-2, #set-board-3 {display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
#set-board img {
    width: 100%;
}

#set-board-1 div, #set-board-2 div, #set-board-3 div {
    margin:5px;
    /* border: 1px solid black; */
}
.selected {
    border: 5px solid #5271ff;
    padding: 10px;
    box-shadow: 5px 10px #d9d9d9;
}

#set-display {
    width:100%;
}
.hidden {
    visibility: collapse;
}
